In [1]:
len("sudh")

4

In [2]:
print("sudh")

sudh

In [4]:
def test():

IndentationError: expected an indented block (Temp/ipykernel_43204/3861551224.py, line 1)

In [5]:
def test():
    pass

In [6]:
def test():
    print("this is my first function")

In [8]:
test()

this is my first function

In [11]:
a=test()

this is my first function

In [12]:
a

In [13]:
a+"kumar"

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [14]:
test()+"kumar"

this is my first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [15]:
type(test())

this is my first function

NoneType

In [16]:
str(a)

'None'

In [17]:
def test2():
    return "this is my second function"

In [18]:
test2()

'this is my second function'

In [19]:
type(test2())

str

In [21]:
test2()+" kumar"

'this is my second function kumar'

In [22]:
a=test2()

In [23]:
a

'this is my second function'

In [24]:
a+ " kumar"

'this is my second function kumar'

In [27]:
def test3():
    return 234

In [28]:
type(test3())

int

In [29]:
def test4():
    return 4,3,"sudh",[1,2,3]

In [31]:
type(test4())

tuple

In [32]:
test4()

(4, 3, 'sudh', [1, 2, 3])

In [33]:
b=test4()

In [34]:
b

(4, 3, 'sudh', [1, 2, 3])

In [35]:
b[0]

4

In [36]:
a=1
b=5
c="sudh"
d=[2,4,6]

In [37]:
a

1

In [38]:
b

5

In [39]:
a, b, c, d = 34, 45, "kumar", [34, 45, 56]

In [40]:
a

34

In [41]:
p, q, r, s = test4()

In [42]:
p

4

In [43]:
q

3

In [44]:
s

[1, 2, 3]

In [45]:
p, q, r, s, t = test4()

ValueError: not enough values to unpack (expected 5, got 4)

In [47]:
def test5():
    a=10/2*5
    return a

In [48]:
test5()

25.0

In [54]:
def test6(data):
    n=[]
    if type(data) == list:
        for i in data:
            if type(i)==int:
                n.append(i)
    return n

In [50]:
len(5)

TypeError: object of type 'int' has no len()

In [51]:
len("hello")

5

In [55]:
test6(4)

[]

In [53]:
test6()

TypeError: test6() missing 1 required positional argument: 'data'

In [57]:
data=[1,5,8,"hello",9]
test6(data)

[1, 5, 8, 9]

In [58]:
data=[1,5,8,"hello",9,[6,8,2,7,"how"]]
test6(data)

[1, 5, 8, 9]

In [59]:
def test7(c):
    if type(c)==dict:
        return c.keys()
    else:
        return "you have not passed dict"

In [60]:
test7("hello")

'you have not passed dict'

In [61]:
test7({"a":"hello","b":"how", "c":123})

dict_keys(['a', 'b', 'c'])

In [63]:
def test9(a,b):
    if type(a)==list and type(b)==list:
        return a.extend(b)
    else:
        return "either of data is not list"

In [64]:
test9()

TypeError: test9() missing 2 required positional arguments: 'a' and 'b'

In [65]:
test9("hh")

TypeError: test9() missing 1 required positional argument: 'b'

In [66]:
test9("abc", 23)

'either of data is not list'

In [67]:
test9([1,2,3],[4,3,2])

In [69]:
a=test9([1,2,3],[4,3,2])

In [70]:
a

In [75]:
#In above example you did not hold list into any variable thats why it did not print
#now how you will know that function extended your list is as below
a = [1,2,3]
b = [4,3,2]

In [72]:
test9(a,b)

In [73]:
a

[1, 2, 3, 4, 3, 2]

In [94]:
def test9(a,b):
    if type(a)==list and type(b)==list:
        a.extend(b)
        return a
    else:
        return "either of data is not list"
    
test9([1,2,3],[4,3,2])

[1, 2, 3, 4, 3, 2]

In [78]:
def create_triangle1(row_num):
    n=row_num
    k=n-1
    for i in range(0,n):
        for j in range(0,k):
            print (end=" ")
        k=k-1
        for j in range(0,i+1):
            print("*",end="")
        print("\n")
        
create_triangle1(3)

  *

 **

***

In [77]:
create_triangle1(5)

    *

   **

  ***

 ****

*****

In [82]:
def create_triangle2(row_num):
    n=row_num
    k=n-1
    for i in range(0,n):
        for j in range(0,k):
            print (end=" ")
        k=k-1
        for j in range(0,i+1):
            print("* ",end="")
        print("\n")
        
create_triangle2(5)

    *

   * *

  * * *

 * * * *

* * * * *

In [79]:
def create_triangle3(rows):
    if type(rows)==int:
        for i in range(1, rows):
            for j in range(i):
                print("*",end="")
            print("\n")

create_triangle3(5)

*

**

***

****

In [80]:
def create_triangle4(rows):
        for i in range(0, rows):
            for j in range(0,i+1):
                print("*",end="")
            print("\r")

create_triangle4(5)

*
**
***
****
*****

In [85]:
#3 double quotes will add description to function for indentation which you will get when you press shift+tab
def create_triangle5(rows):
        """This function will give you triangle"""
        for i in range(0, rows):
            for j in range(0,i+1):
                print("*",end="")
            print("\r")

create_triangle5(5)

*
**
***
****
*****

In [87]:
#3 multiple lines hint/help which will add description to function for indentation
def create_triangle5(rows):
        """This function will 
        give you triangle"""
        for i in range(0, rows):
            for j in range(0,i+1):
                print("*",end="")
            print("\r")

create_triangle5(5)

*
**
***
****
*****

In [90]:
help(create_triangle5)

Help on function create_triangle5 in module __main__:

create_triangle5(rows)
    This function will
    give you triangle

In [91]:
#put hash for single line comments
"""put into 
3 double quotes 
for 
multi line comments"""

'put into \n3 double quotes \nfor \nmulti line comments'

In [93]:
#if you are writing three quoted string into function then it will be considered as doc string (help) not a comment

In [97]:
#task
#1. you have to write a func which will take string and return len of it without using len built-in function
#2. write a func which will be able to print an index of all premitive element which you will pass
#3. write a func which will take input as dictionary and give me out as a list of all values even in case of 2 level nesting it should work
#4. write a func which will take another function as an input and return me an output
#5. write a func which will take multiple list as a input and give me concat of all the elements as and output
#6. write a func which will be able to take a list as an input and return an index of each element like a inbuilt index function but even if we have repeatitive element it return index
#7. write a func which will return list of all the file name of a directory
#8. write a function which will be able to show your system configuration.
#9. write a function which will be able to show date and time.
#10. write a func which will be able to read a image file and show it to you.
#11. write a func which can read a video and play for you
#12. write a func which will move a file from one dir to another
#13. write a func which will be able to shutdown your system.
#14. write a func which will be able to access your email.
#15. write a func by which i can send a mail to anyone
#16. write a func to read a complete pdf file
#17. write a func to read word file
#18. write a func which help you to filter only word file from directory
#19. write a func which will print ip address of your system
#20. write a func by which you will be able to append two pdf files.