In [1]:
import sqlite3

In [2]:
db = sqlite3.connect("ineuron.db")

In [3]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 182B-EBD8

 Directory of C:\Users\ngupta\classes-ai

20-02-2022  10:31    <DIR>          .
20-02-2022  10:31    <DIR>          ..
20-02-2022  10:19    <DIR>          .ipynb_checkpoints
19-02-2022  18:15            15,508 Class-1.ipynb
20-02-2022  09:59            11,739 Class-2.ipynb
20-02-2022  10:31               924 Class-20-Feb.ipynb
20-02-2022  10:30                 0 ineuron.db
               4 File(s)         28,171 bytes
               3 Dir(s)  38,735,482,880 bytes free

In [4]:
c = db.cursor()

In [5]:
c.execute('create table batch(name text, batchid int, marks real)')

In [10]:
c.execute("insert into batch values('sudh',2435,454.35)")

In [11]:
c.execute("select * from batch")

In [20]:
data = c.execute("select * from batch")

In [21]:
for j in data: print (i)

('sudh', 2435, 454.35)
('sudh', 2435, 454.35)
('sudh', 2435, 454.35)
('sudh', 2435, 454.35)

In [22]:
db.commit()

In [23]:
db.close()

In [24]:
db = sqlite3.connect("ineuron.db")

In [25]:
c=db.cursor()

In [26]:
data = c.execute("select * from batch where marks>400")

In [27]:
for i in data: print (i)

('sudh', 2435, 454.35)
('sudh', 2435, 454.35)
('sudh', 2435, 454.35)
('sudh', 2435, 454.35)

In [28]:
data = c.execute("select * from batch where name = 'sudh'")

In [29]:
for i in data: print(i)

('sudh', 2435, 454.35)
('sudh', 2435, 454.35)
('sudh', 2435, 454.35)
('sudh', 2435, 454.35)

In [30]:
data = c.execute("select name, marks from batch")

In [31]:
for i in data : print(i)

('sudh', 454.35)
('sudh', 454.35)
('sudh', 454.35)
('sudh', 454.35)

In [32]:
data = c.execute("select name, marks from batch order by marks")

In [33]:
for i in data: print(i)

('sudh', 454.35)
('sudh', 454.35)
('sudh', 454.35)
('sudh', 454.35)

In [34]:
db.close()

In [36]:
db=sqlite3.connect("india.db")

In [37]:
c=db.cursor()

In [38]:
c.execute("create table person(name text, emailid text, age int, salary real)")

In [39]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 182B-EBD8

 Directory of C:\Users\ngupta\classes-ai

20-02-2022  10:55    <DIR>          .
20-02-2022  10:55    <DIR>          ..
20-02-2022  10:19    <DIR>          .ipynb_checkpoints
19-02-2022  18:15            15,508 Class-1.ipynb
20-02-2022  09:59            11,739 Class-2.ipynb
20-02-2022  10:55             7,460 Class-20-Feb.ipynb
20-02-2022  10:55             8,192 india.db
20-02-2022  10:44             8,192 ineuron.db
               5 File(s)         51,091 bytes
               3 Dir(s)  38,736,732,160 bytes free

In [40]:
c.execute("insert into person values('sudh','sudh@gmail.com',234,454.35)")
c.execute("insert into person values('prashant','prashant@gmail.com',345,345.35)")
c.execute("insert into person values('krsih','krsih@gmail.com',565,35.35)")
c.execute("insert into person values('sunny','sunny@gmail.com',567,454.35)")

In [41]:
data = c.execute("select * from person")

In [42]:
for i in data: print(i)

('sudh', 'sudh@gmail.com', 234, 454.35)
('prashant', 'prashant@gmail.com', 345, 345.35)
('krsih', 'krsih@gmail.com', 565, 35.35)
('sunny', 'sunny@gmail.com', 567, 454.35)

In [43]:
c.execute("create table sampletable(name text, emailid text, age int, salary real)")

In [45]:
c.execute("insert into sampletable values('sudh','sudh@gmail.com',234,454.35)")
c.execute("insert into sampletable values('prashant','prashant@gmail.com',345,345.35)")
c.execute("insert into sampletable values('krsih','krsih@gmail.com',565,35.35)")
c.execute("insert into sampletable values('sunny','sunny@gmail.com',567,454.35)")

In [46]:
db.commit()

In [47]:
db.close()

In [48]:
db=sqlite3.connect("india.db")

In [49]:
c=db.cursor()

In [51]:
data = c.execute("select * from sampletable")

In [52]:
for i in data: print(i)

('sudh', 'sudh@gmail.com', 234, 454.35)
('prashant', 'prashant@gmail.com', 345, 345.35)
('krsih', 'krsih@gmail.com', 565, 35.35)
('sunny', 'sunny@gmail.com', 567, 454.35)

In [53]:
c.execute("drop table sampletable")

In [54]:
data = c.execute("select * from sampletable")

OperationalError: no such table: sampletable

In [55]:
db.close()

In [56]:
db=sqlite3.connect("india.db")

In [57]:
c=db.cursor()

In [59]:
data = c.execute("select * from person limit 2")

In [60]:
for i in data: print(i)

('sudh', 'sudh@gmail.com', 234, 454.35)
('prashant', 'prashant@gmail.com', 345, 345.35)

In [61]:
db.close()

In [62]:
db=sqlite3.connect("joindb.db")

In [63]:
c=db.cursor()

In [64]:
c.execute('create table student(student_id int, student_name text, student_mailid text, marks int)')

In [65]:
c.execute('create table address(student_id int, pincode int, location text, nearby text, phone_no int)')

In [66]:
c.execute("insert into student values(1, 'sudh','sudh@gmail.com',234)")
c.execute("insert into student values(2, 'prashant','prashant@gmail.com',345)")
c.execute("insert into student values(3, 'krish','krish@gmail.com',565)")
c.execute("insert into student values(4, 'sunny','sunny@gmail.com',567)")

In [67]:
c.execute("insert into address values(2, 110002,'North Delhi','Rohini', 9800000002)")
c.execute("insert into address values(4, 110004,'Suth deplhi','Saket', 9800000004)")

In [68]:
data = c.execute("select * from student s inner join address a on s.student_id=a.student_id")

In [69]:
for i in data: print(i)

(2, 'prashant', 'prashant@gmail.com', 345, 2, 110002, 'North Delhi', 'Rohini', 9800000002)
(4, 'sunny', 'sunny@gmail.com', 567, 4, 110004, 'Suth deplhi', 'Saket', 9800000004)

In [70]:
data = c.execute("select * from student s left join address a on s.student_id=a.student_id")

In [71]:
for i in data: print(i)

(1, 'sudh', 'sudh@gmail.com', 234, None, None, None, None, None)
(2, 'prashant', 'prashant@gmail.com', 345, 2, 110002, 'North Delhi', 'Rohini', 9800000002)
(3, 'krish', 'krish@gmail.com', 565, None, None, None, None, None)
(4, 'sunny', 'sunny@gmail.com', 567, 4, 110004, 'Suth deplhi', 'Saket', 9800000004)

In [75]:
data = c.execute("select * from student s left join address a on s.student_id=a.student_id where a.student_id is not null")

In [76]:
for i in data: print(i)

(2, 'prashant', 'prashant@gmail.com', 345, 2, 110002, 'North Delhi', 'Rohini', 9800000002)
(4, 'sunny', 'sunny@gmail.com', 567, 4, 110004, 'Suth deplhi', 'Saket', 9800000004)

In [74]:
for i in c.execute("select s.*,a.pincode, a.location from student s join address a on s.student_id=a.student_id"): print(i)

(2, 'prashant', 'prashant@gmail.com', 345, 110002, 'North Delhi')
(4, 'sunny', 'sunny@gmail.com', 567, 110004, 'Suth deplhi')

In [77]:
for i in c.execute("select s.*,a.pincode, a.location from student s join address a on s.student_id=a.student_id"): print(i)

(2, 'prashant', 'prashant@gmail.com', 345, 110002, 'North Delhi')
(4, 'sunny', 'sunny@gmail.com', 567, 110004, 'Suth deplhi')

In [78]:
for i in c.execute("select s.*,a.pincode, a.location from student s right join address a on s.student_id=a.student_id"): print(i)

OperationalError: RIGHT and FULL OUTER JOINs are not currently supported

In [80]:
c.execute("delete from student where student_id>2000")

In [81]:
for i in c.execute("select * from student"): print(i)

(1, 'sudh', 'sudh@gmail.com', 234)
(2, 'prashant', 'prashant@gmail.com', 345)
(3, 'krish', 'krish@gmail.com', 565)
(4, 'sunny', 'sunny@gmail.com', 567)

In [82]:
data = c.execute("select * from student")

In [83]:
data.fetchall()

[(1, 'sudh', 'sudh@gmail.com', 234),
 (2, 'prashant', 'prashant@gmail.com', 345),
 (3, 'krish', 'krish@gmail.com', 565),
 (4, 'sunny', 'sunny@gmail.com', 567)]

In [84]:
c.execute("update student set student_id=2000 where student_id=236")

In [86]:
l = [1, 2, 3, 4, 5, 6]

In [87]:
l1=[]
for i in l: l1.append(i+5)

In [88]:
l1

[6, 7, 8, 9, 10, 11]

In [89]:
[i+5 for i in l]

[6, 7, 8, 9, 10, 11]

In [90]:
l = [1, 2, 3, 4, 5, 6]

In [92]:
def test(a): return a+5

In [93]:
map(test, l)

In [94]:
list(map(test, l))

[6, 7, 8, 9, 10, 11]

In [95]:
def test1(a): return a*3454+454

In [96]:
list(map(test1, l))

[3908, 7362, 10816, 14270, 17724, 21178]

In [97]:
l1=['234', '345','543','456','675']

In [98]:
def casttest(a): return int(a)

In [99]:
casttest("784")

784

In [100]:
list(map(casttest, l1))

[234, 345, 543, 456, 675]

In [102]:
list(map(lambda x:int(x),l1))

[234, 345, 543, 456, 675]

In [103]:
list(map(lambda x:x+5,l))

[6, 7, 8, 9, 10, 11]

In [104]:
l = list(map(lambda x:x+5,l))

In [105]:
l

[6, 7, 8, 9, 10, 11]

In [111]:
list(filter(lambda x:x%2==0, l))

[6, 8, 10]

In [112]:
def test4(a): 
    if a%2==0:
        return a

In [113]:
list(map(test4, l))

[6, None, 8, None, 10, None]

In [114]:
list(filter(test4, l))

[6, 8, 10]

In [115]:
[i for i in l if i%2 ==0]

[6, 8, 10]

In [116]:
l

[6, 7, 8, 9, 10, 11]

In [117]:
list(filter(lambda x:x+2, l))

[6, 7, 8, 9, 10, 11]

In [118]:
from functools import reduce

In [120]:
l=[3,4,5,6,7,8]

In [121]:
sum(l)

33

In [128]:
def test5(a,b):
    return a+b

In [129]:
reduce(test5,l)

33

In [125]:
reduce(lambda x, y:x+y,l)

33

In [130]:
def test6(a,b):
    return a*b

In [132]:
reduce(test6,l)

20160

In [133]:
reduce(lambda x, y:x*y,l)

20160

In [134]:
reduce(lambda x,y,c:x*y*c,l)

TypeError: <lambda>() missing 1 required positional argument: 'c'

In [135]:
def test7(a,b,c):
    return a+b+c

In [136]:
reduce(test7,l)

TypeError: test7() missing 1 required positional argument: 'c'

In [137]:
l

[3, 4, 5, 6, 7, 8]

In [138]:
l2=[6]

In [139]:
reduce(lambda x,y:x+y,l2)

6

In [140]:
l3=[]

In [141]:
reduce(lambda x,y:x+y,l3)

TypeError: reduce() of empty sequence with no initial value

In [142]:
reduce(lambda x,y:x*y,l2)

6

In [143]:
l=[1,2,3,4,5]
l1=[6,7,8,9,10]

In [144]:
list(zip(l,l1))

[(1, 6), (2, 7), (3, 8), (4, 9), (5, 10)]

In [149]:
l2=[6,7,8,9]

In [147]:
list(zip(l,l2))

[(1, 6), (2, 7), (3, 8), (4, 9)]

In [150]:
l3=["Sudh","krisk"]

In [151]:
list(zip(l,l3))

[(1, 'Sudh'), (2, 'krisk')]

In [152]:
list(zip(l,l2,l3))

[(1, 6, 'Sudh'), (2, 7, 'krisk')]

In [ ]:
"""Task for today:
    dataset - https://archive.ics.uci.edu/ml/datasets/Bag+of+Words
q1=try to find out a count of each and every work in a respective file return a list of tuple with work and its respective count
sample output - [('abort', 6), ('find', 3)]
q2=try to perform a reduce operation to get a count of all the word starting with same alphabet
sample output - [('a', 51), ('b', 54)]
q3=try to filter out the workds from dataset without punctuation
sample example - .001.abstract then only filter abstract
q4=create a tuple set of all the records available in all the five files and store it in sqllite db
sample output - (aah, >=, .....) and then insert into sqllite db"""

"""Task for today :
  dataset -   https://archive.ics.uci.edu/ml/datasets/Bag+of+Words
    
    q1 = try to find out a count of each and every word in a respective file return a list of tuple with word and its respective count 
       sample example -  [('sudh', 6 ) , ('kumar',3)]
    q2 = try to perform a reduce operation to get a count of all the word starting with same alphabet
        sample examle = [('a',56) , ('b',34),...........]
    q3 = Try to filter out all the words from dataset . 
    
    .001.abstract = abstract
    =.002 = delete
    q4 = create a tuple set of all the records avaialble in all the five file and then store it in sqllite DB . 
    ('aah',>=,354,'fdsf','wer')
    
    Top 10 will be able to get kids neuron """